<%- include('partials/headerloggedout') -%>

<main>
    <div class="container mx-auto min-h-screen flex justify-center items-center bg-no-repeat bg-cover" style="background-image: url('https://www.innerstrengthcobden.com/images/home-bg-slider-img1.jpg');">
        <div class="flex flex-col items-center mb-60 space-y-7 font-light text-2xl text-white">
            <h1 class="italic">Welcome to</h1>
            <span class="font-normal tracking-widest text-5xl pb-2">GIZMA</span>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>