<%- include('partials/headerloggedout') -%>
    <main>
        <div class="container mx-auto min-h-screen flex justify-center items-center bg-no-repeat bg-cover bg-[url('/imgs/bgphoto2.jpg')]">
            <div class="bg-white p-14 mb-60 rounded-lg shadow-2xl">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST" class="space-y-7">
                    <div class="">
                        <!-- <label for="userName" class="form-label">Username</label> -->
                        <input type="text" class="border p-1 rounded-sm" placeholder="Username" id="userName" name="userName">
                    </div>
                    <div class="">
                      <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                      <input type="email" class="border p-1 rounded-sm" id="exampleInputEmail1" placeholder="Email address" aria-describedby="emailHelp" name="email">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="">
                      <!-- <label for="password" class="form-label">Password</label> -->
                      <input type="password" class="border p-1 rounded-sm password" placeholder="Password" id="password" name="password"><i class="bi bi-eye-slash togglePassword pl-2 cursor-pointer"></i>
                    </div>
                    <div class="">
                      <!-- <label for="confirmPassword" class="form-label">Confirm Password</label> -->
                      <input type="password" class="border p-1 rounded-sm password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"><i class="togglePassword"></i>
                    </div>
                    <div class="flex justify-center">
                      <button type="submit" class="">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

<%- include('partials/footer') -%>